.comingSoon-section {

    margin-top: 20px;
    margin-bottom: 20px;
}

.cardsComingSoon-container {

    width: 100%;

    height: 174px;


    position: relative;


    overflow: hidden;

    border-radius: 10px;

}

/* --- Imagen --- */
.cardsComingSoon-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    display: block;
}

/* --- Label "Próximamente" (Mobile) --- */
.coningSoon-label {

    position: absolute;
    top: 0px;
    right: 10px;
    z-index: 10;


    background-color: var(--color-accent);

    color: var(--color-fullDark);
    padding: 5px 10px;
    border-radius: 0px 0px 10px 10px;

    font-size: 12px;
    font-weight: bold;
    box-shadow: 3px 4px 5px 0 rgba(0, 0, 0, 0.43);



    display: flex;
    align-items: center;

    justify-content: center;

}

.coningSoon-label p {
    margin: 0;
    font-size: 14px;

}



@media (min-width: 1200px) {


    .cardsComingSoon-container {

        width: 1205px;
        height: 220px;

        margin-left: auto;
        margin-right: auto;
    }


    .coningSoon-label {
        font-size: var(--font-size-title-h4);
        font-weight: 800;
    }
}