* {
    margin: 0;
    padding: 0;
}

/* paleta de color y variables*/

:root {
    /* primario */
    --color-primary: #9013FE;
    --color-primaryLight1: #A642FE;
    --color-primaryLight2: #B766FE;
    --color-primaryLight3: #EC18FF;
    --color-primaryShadow1: #7D13D8;
    --color-primaryShadow2: #52168C;
    --color-primaryShadow3: #2D1E53;

    /* secundario */
    --color-secondary: #008FEC;
    --color-SecondaryLight1: #33A5F0;
    --color-secondaryLight2: #59B6F3;
    --color-secondaryLight3: #80C7F6;
    --color-secondaryShadow1: #077BC8;
    --color-secondaryShadow2: #14528A;
    --color-secondaryShadow3: #12334c;


    /* acento */
    --color-accent: #F3AD38;
    --color-accentLight1: #F5BD60;
    --color-accentLight2: #F7CA7E;
    --color-accentLight3: #F9D69C;
    --color-accentShadow1: #A66F15;
    --color-accentShadow2: #846630;
    --color-accentShadow3: #403A31;

    /* backgrounds */
    --color-bodyDark: #100F14;
    --color-bodyLight: #201F14;
    --color-navDark: #121116;
    --color-navLight: #18171C;
    --color-box: #201F24;
    --color-hover: #403F44;

    /* colores de estado */
    --color-ok: #3EBD41;
    --color-warning: #fc4d64;

    /* color de fuentes */
    --color-text: #E4E4E4;
    --color-textDark: #777786;
    --color-textLight: #ffffff;

    /*COMPLETAR */

    --color-link: ;
    --color-link-hover: ;

    /* tipografia */

    --font-base: 'Inter', sans-serif;
    --font-logo: 'Orbitron', sans-serif;
    --font-size-base: 14;
    --font-size-title-h1: ;
    --font-size-title-h2: ;
    --font-size-title-h3: ;
    --font-size-title-h4: ;
    --font-size-title-h5: ;
    --font-size-labels: 11;


    /* espaciado */

    --space-cards: 15px;
    --space-titles-carrousel: 10px;
    --space-global: 20px 80px 20px 80px;

    /* TODO: agregar margenes y paddings globales*/
}

body {
    background-image: url(../assets/Fondo.png);
    background-color: var(--color-bodyDark);
    color: var(--color-textLight);
    font-family: var(--font-base);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    padding: 20px; 
    gap: 20px;
}

.login-container {
    background-color: var(--color-bodyDark);
    padding: 40px;
    border-radius: 12px;
    width: 380px;
    text-align: center;
}

.login-form h2 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 30px;
    color: var(--color-textLight);
}

.input-group {
    text-align: left;
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 500;
    color: var(--color-text);
}

.input-group input {
    width: 100%;
    padding: 14px;
    background-color: var(--color-box);
    border: 0px solid var(--color-hover);
    border-radius: 8px;
    color: var(--color-text);
    font-size: 14px;
    box-sizing: border-box;
}

.input-group input:focus {
    outline: none;
    border-color: var(--color-primaryLight1);
    border: 0.5px solid var(--color-primary);
}

.input-group label.required::after {
    content: '*';
    color: var(--color-warning);
    margin-left: 4px;
}

.forgot-password {
    text-align: left;
    margin-top: -10px;
    margin-bottom: 25px;
}

.forgot-password a {
    color: var(--color-text);
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s;
}

.forgot-password a:hover {
    color: var(--color-primaryLight2);
}

.login-button {
    width: 100%;
    padding: 16px;
    background-color: var(--color-primary);
    color: var(--color-textLight);
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
}

.login-button:hover {
    background-color: var(--color-primaryShadow1);
}

.divider {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
    font-size: 14px;
    color: var(--color-textDark);
}

.social-login {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 30px;

}

.signup-link p {
    font-size: 14px;
    color: var(--color-text);
}

.signup-link a {
    color: var(--color-primaryLight1);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.signup-link a:hover {
    color: var(--color-primaryLight2);
}

.register-container {
    background-color: var(--color-bodyDark);
    padding: 40px;
    border-radius: 12px;
    width: 420px;
    text-align: center;
    margin: 20px auto;
      margin: 0;
}

.register-form h2 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 30px;
    color: var(--color-textLight);
}

.recaptcha-group {
    display: flex; 
    justify-content: center;
    flex-direction: column; 
    align-items: center; 
}

.recaptcha-container {
    display: flex;
    align-items: center;
    background-color: var(--color-box);
    padding: 10px 15px;
    border-radius: 4px;
    color: var(--color-text);
}

.recaptcha-text {
    margin-left: 10px;
}

.recaptcha-logo-container {
    margin-left: 30px;
}

.recaptcha-logo {
    width: 35px;
}

.recaptcha-checkbox {
    margin: 5px;
    transform: scale(2);
}

.content-card {
    background-color: var(--color-bodyDark);
    padding: 40px;
    border-radius: 12px;
    width: 380px;
    text-align: center;
    box-sizing: border-box;
}

.content-card h2 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
    color: var(--color-primary);
    font-family: var(--font-base);
}

.content-card p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
    color: var(--color-textDark);
    font-family: var(--font-base);
}   

.error-message {
    color: var(--color-warning);
    font-size: 12px;
    margin-top: 5px;
    display: block; 
    height: auto;  
    white-space: pre-wrap; 
    margin-bottom: 15px; 
}

.input-group.error input {
    border-color: var(--color-warning);
}   

.download-button {
    display: inline-block;
    width: 100%;
    padding: 16px;
    background-color: var(--color-secondary);
    color: var(--color-textLight);
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 8px;
    margin-top: 15px;
}

.download-button:hover {
    background-color: var(--color-secondaryShadow1);
}