
/* Contenedores */
#coins-container,
#powerups-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 45;
    pointer-events: none;
}


.coin {
    position: absolute;
    width: 40px;
    height: 40px;
    background: url('../../assets/img/flappy/sprites/blood2.png') left center;
    background-size: 200px auto;  /* Escala el sprite completo: 5 frames × 40px = 200px */
    background-repeat: no-repeat;
    overflow: hidden;
    animation: coin-spin 1s steps(5) infinite;
}

@keyframes coin-spin {
    0% { background-position-x: 0px; }
    100% { background-position-x: -200px; }  /* 5 frames de 40px cada uno (escalados) */
}


/* POWER-UPS - Solo "Slow Motion" (Ralentizar) */
.powerup {
    position: absolute;
    width: 35px;
    height: 35px;
    background-size: 175px auto;  /* Escala el sprite completo: 5 frames × 35px = 175px */
    background-repeat: no-repeat;
    background-position: left center;
    overflow: hidden;
}

.powerup.slow {
    background-image: url('../../assets/img/flappy/sprites/clock2.jpg');
    animation: slow-glow 0.6s steps(5) infinite;
}

@keyframes slow-glow {
    0% { background-position-x: 0px; }
    100% { background-position-x: -175px; }  /* 5 frames de 35px cada uno (escalados) */
}


/* EXPLOSIÓN - Animación al morir */
.explosion {
    position: absolute;
    width: 80px;
    height: 80px;
    background: url('../../assets/img/flappy/sprites/exploding.png') left center;
    background-size: 560px auto;  /* Escala el sprite completo: 7 frames × 80px = 560px */
    background-repeat: no-repeat;
    overflow: hidden;
    animation: explode 0.6s steps(7) forwards;  /* forwards = se queda en el último frame */
    z-index: 100;
    pointer-events: none;
}

@keyframes explode {
    0% { background-position-x: 0px; }
    100% { background-position-x: -560px; }  /* 7 frames de 80px cada uno (escalados) */
}
