/* PPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPP
   FLAPPY-PIPES.CSS - Tuber�as/Obst�culos del juego
   PPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPP */

/* Contenedor de tuber�as */
#pipes-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 40;
    pointer-events: none;
}

/* Contenedor individual de cada par de tuber�as */
.pipe-pair {
    position: absolute;
    width: 64px;
    height: 100%;
    z-index: 40;
}

/* Tuber�a superior */
.pipe-top {
    position: absolute;
    top: 0;
    width: 74px;
    background: url('../../assets/img/flappy/sprites/pipes52.png') center bottom no-repeat;
    background-size: 74px 100%;
    background-color: rgba(0, 0, 0, 0.096);
   
   
}

/* Tuber�a inferior */
.pipe-bottom {
    position: absolute;
    width: 74px;
    background: url('../../assets/img/flappy/sprites/pipes53.png') center top no-repeat;
    background-size: 74px 100%;
    background-color: rgba(0, 0, 0, 0.048);
    /* filter: brightness(1.5); */
}
